<h2>Add new Book</h2>
<form #myForm="ngForm" (ngSubmit)="saveBook(myForm.value)" class="add-book-form">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" name="title" ngModel>
        <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput placeholder="Author" name="author" ngModel>
        <mat-icon matSuffix>person</mat-icon>        
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pages</mat-label>
        <input matInput placeholder="Pages" name="pages" type="number" ngModel>
        <mat-icon matSuffix>123</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price"  name="price" type="number" ngModel>
        <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
    <!-- <input type="text" name="title" placeholder="Title" ngModel> <br><br>
    <input type="text" name="author" placeholder="Author" ngModel> <br><br>
    <input type="number" name="pages" placeholder="pages" ngModel> <br><br>
    <input type="number" name="price" placeholder="Price" ngModel> <br><br> -->
    <button type="submit" mat-raised-button color="primary">Save</button>
</form>

